.App{
    text-align: left;
}
.App .container{
    padding: 30px 130px;

}
.App .myName{
    color: white;
    margin: 20px;
    font-size: 16px;
    font-weight:bold;
    text-align: center;
}
.App .profile-link{
    color: white;
    text-decoration: none;
}
.App .profile-link:hover{
    color: rgb(134, 247, 255);
}
