
.Dictionary section{
  background: white;
  padding: 30px 30px 40px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgb(0 0 0 /10%);
  margin: 20px 0;
}

.Dictionary input{
  width: 100%;
  padding: 6px 10px;
  color: #333;
  border: 1px solid rgb(206, 205, 205);
  border-radius: 20px;
  background:rgb(242, 242, 242);
}
.Dictionary .hint{
  font-size: 16px;
  margin: 0px 5px 10px;
  font-weight: bold;
}