.Phonetics a{
    border: 1px solid #ddd;
    border-radius: 20px;
    background:rgb(67, 67, 114);
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    padding: 10px 20px;
}
.Phonetics a:hover{
    color:rgb(67, 67, 114);
    background: rgb(242, 242, 242);
    transition: all 200ms ease-in-out;
}
.Phonetics .phonetic-text{
    font-size: 18px;
    padding: 0px 7px;
    opacity: 0.7;
}